{{ define "home.html" }}
  {{ template "base" . }}
{{ end }}

{{ define "home_content" }}
<section class="max-w-3xl mx-auto text-center space-y-6">
  <h1 class="text-4xl font-bold text-slate-800">{{ .title }}</h1>
  <p class="text-lg text-slate-600">Visualisez vos dépenses avec CheckMate.</p>
  
</section>
  <div>
  <div class="max-w-xl mx-auto mt-10">
    <canvas id="myChart"></canvas>
  </div>
  <div>
    
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/static/js/home.js"></script>

{{ end }}
